.checkoutPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}

.checkoutContainer {
    z-index: 0;
    margin-top: 8vh;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: #5C3D2E;
    color: white;
}


.checkoutContainer .noItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noItems img {
    width: 200px;
    height: 200px;
    opacity: 0.8;
    filter: invert(100%);
}

.checkoutItem {
    width: 98%;
    height: 160px;
    background-color: #2D2424;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
}

.checkoutItem .imageGroup {
    height: 150px;
    width: 20%;
    margin-right: 10px;
}

.details {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttonContainer {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.buttonContainer button {
    width: 25%;
    margin-right: 20px;
}

.checkoutBottom {
    background-color: #5C3D2E;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 90vw;
    height: 5vh;
}

.checkoutBottom p {
    width: 34%;
}

.checkoutBottom * {
    margin: 0 5px 0 5px
}

@media only screen and (max-height: 960px) and (max-width: 800px) { 
    p {
        margin: 0;
        width: 33%;
        display: flex;
        flex-direction: column
    }

    .details {
        height: 40%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .checkoutItem {
        height: 350px;
        width: 98%;
        flex-direction: column;
        align-items:center ;
    }

    .buttonContainer {
        width: 100%;
        flex-direction: row;
        height: 15%;
    }

    .buttonContainer button{
        width: 80%;
        margin: 10px;
    }

    .checkoutContainer {
        
    }

    .imageGroup {
        margin-top: 10px;
    }
}