.cocktailItem {
    display: flex;
    flex-direction: column;
    background-color: #492d20;
    width: 15vw;
    height: 96%;
    padding: 2px;
    color: white;
    font-size: 14px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

.cocktailTitle {
    display: flex;
    flex-direction: row;
}

.cocktailIngredients {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 2px;
}

.cocktailIngredients li {
    text-align: start;
}
