.cocktailDetailsContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 0;
    font-size: medium;
    color: white;
    position: fixed;
}

.cocktailDetailsContainer p {
    margin-left: 5px;
    width: 90%;
}

.cocktailDetailsContainer>div {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1%;
    position: fixed;
    right: 0;
}

.cocktailHeader {
    display: flex;
    flex-direction: row;
}

.cocktailHeader div:nth-child(2) {
    width: 30%;
}


.cocktailDetails {
    background-color: #5c3d2e;
    height: 65%;
    width: 101%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cocktailDetails .loadingContainer {
    margin-top: 10%;
}

.suggestions {
    background-color: #9c5e3e;
    height: 30%;
    width: 100vw;
    border-radius: 10px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.cocktailDetailsContainer ul {
    list-style: none;
    font-size: 12px;
}

.cocktailDetails li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 20px;
    margin-bottom: 4px;
}

.cocktailDetails li>button {
        margin-left: 5px;
}


.cocktailDetails li>span {
    width: 60%
}

.cocktailDetails img {
    margin-top: 5%;
    width: 250px;
    height: 250px;
}

h5 {
    margin-top: 0;
}

.suggestions h4:only-child {
    align-self: center;
    width: 20%;
    margin-left: 40%;
}

@media screen and (max-height: 960px) and (max-width: 800px){ 
    .suggestions {
        height: 20%;
        overflow-y: hidden;
    }

    .suggestions .cocktailItem {
        height: 98%;
    }    
    .cocktailDetails {
        height: 75%;
        width: 100%;
        margin-top: 10%;
    }

    .cocktailDetails h5 {
        padding-left: 2%;
    }

    .cocktailDetailsContainer > div {
        width: 100%;
    }
    .cocktailHeader {
        flex-direction: column;
        align-items: center;
    }
    .cocktailHeader div:nth-child(2) {
        width: 100%;
    }
    .cocktailDetails img {
        width: 200px;
        height: 200px;
    }
    .cocktailDetails p {
        font-size: small;
    }
}

@media screen and (orientation:landscape) and (max-height: 376px) {
    .cocktailDetails .cocktailHeader .imageGroup img {
        height: 120px;
        width: 120px;
    }
    .suggestions img {
        height: 70px;
        width: 60px;
    }
    .cocktailDetails {
        flex-direction: row;
    }
    .cocktailHeader {
        justify-content: flex-start;
        width: 65%;
    }

    .cocktailDetailsContainer {
        justify-content: flex-start;
    }
  .cocktailDetails p {
        width: 35%;
        font-size: small;
    }
    .cocktailHeader div:nth-child(2) {
        width: 55%;
    }
    .cocktailHeader ul {
        padding: 0;
    }
  }