.homepage {
  height: 100vh;
  width: 100vw;
  color: #cccc00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3,
h4 {
  color: white;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.search {
  background-color: #5c3d2e;
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.ingredients,
.cocktailTags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 20%;
}

.ingredients div,
.cocktailTags div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  height: 50%;
  margin: 5px;
}

.ingredients input,
.cocktailTags input {
  width: 100%;
  height: 35%;
}

.ingredients button,
.cocktailTags button {
  height: 45%;
  width: 105%;
}

.search > div {
  height: 30%;
}

.ingredients div:hover > button,
.cocktailTags div:hover > button,
.ingredients div:only-child > button,
.cocktailTags div:only-child > button {
  opacity: 1;
}

.ingredients div > button,
.cocktailTags div > button {
  opacity: 0;
}

.ingredients div > button:disabled,
.cocktailTags div> button:disabled {
  opacity: 0;
}

.name {
  width: 50%;
  align-self: center;
}

button {
  border-radius: 5px;
}

.searchButton {
  width: 15%;
  height: 5%;
  align-self: center;
  margin-top: 20px
}

.cocktailContainer {
  background-color: #9c5e3e;
  border-radius: 10px;
  width: 90%;
  flex-basis: 80%;
  align-self: center;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  overflow-y: scroll;
}