.productCard {
    border-radius: 10px;
    border: 0px solid silver;
    flex-basis: 25%;
    margin: 5px 25px 5px 25px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 14px;
    background-color: #2D2424;
}

h4 {
    text-align: center;
}

.productCard > div {
    display: flex;
}

.cardTitle {
    flex-direction: column;
}

.cardTitle p {
    margin-right: 5px;
}

.cardTitle > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imageGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageGroup button {
    width: 20px;
    height: 20px;
    z-index: 1000;
    padding-bottom: 25px;
    background-color:#2D2424;
}

.imageGroup button {
    filter: brightness(1);
}

.imageGroup button img {
    filter: invert(100%);
}

.cardDetails {
    flex-direction: column;
    height: 40%;
}

.cardDetails p {
    padding-left: 5px;
    margin: 5px 0 5px 0;
}

.bottomCard {
    height: 10%;
    justify-content: space-around;
    margin-bottom: 5px;
}

.productImage {
    height: 120px;
    width: 100px;
}

.cardDetails button {
    margin: 0 1px 0 1px;
}

@keyframes greenShift {
    0% {
        background-color: #E0C097;
    }
    50% {
        background-color: rgb(18, 182, 18);
    }
    100% {
        background-color: #E0C097;
    }
}

@keyframes redShift {
    0% {
        background-color: #E0C097;
    }
    50% {
        background-color: rgb(196, 27, 27);
    }
    100% {
        background-color: #E0C097;
    }
}

.green {
    animation: greenShift 1s;
}

.red {
    animation: redShift 1s;
}

.cardDetails button {
    margin: 2px;
}

@media screen and (max-height: 960px) and (max-width: 800px){
    .productCard {
        height: 45%;
        flex-basis: 90%;
        margin-top: 10%;
        margin-right: 15px;
        justify-content: flex-start;
    }

    .productCard .imageGroup {
        height: 100px;
    }

    p {
        margin: 0;
    }
    .productTags {
        width: 100%;
        height: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .country {
        width: 100%;
        margin: 15px 0 0 0;
    }
    .price {
        width: 100%;
    }

    .productImage {
        width: 60px;
      }

    .cardDetails {
        justify-content: space-around;
        height: 35%;
    }
    .bottomCard {
        margin-top: 10%;
    }
}