@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&family=Roboto:wght@100;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App, .App > * {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: row;
}

.menuToggle {
  border: 0;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.menuToggle:hover {
  background-color: rgb(64, 62, 62);
}

.menuToggle img {
  filter: invert(100%);
}

@keyframes slideOutToggle {
  0% {height: 0px;}
  100% {height: 40px;}
}

@keyframes slideInToggle {
  0% {height: 40px;}
  100% {height: 0px;}
}

.slideOutToggle {
  animation: slideOutToggle 1.5s;
  animation-fill-mode: forwards;
}

.slideInToggle {
  animation: slideInToggle 1.5s;
  animation-fill-mode: forwards;
}


